<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_62a44e9dda985167463b40dc5f0cac84 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_62a44e9dda985167463b40dc5f0cac84" ></div>
        
</body>
<script>
    
    
            var map_62a44e9dda985167463b40dc5f0cac84 = L.map(
                "map_62a44e9dda985167463b40dc5f0cac84",
                {
                    center: [4.2105, 101.9758],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_4ca7416ea6639c8ddbce8e1163079555 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {
  "minZoom": 0,
  "maxZoom": 20,
  "maxNativeZoom": 20,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e",
  "subdomains": "abcd",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_4ca7416ea6639c8ddbce8e1163079555.addTo(map_62a44e9dda985167463b40dc5f0cac84);
        
    
            var feature_group_a72753761d22d4e94c4a671a10d844f0 = L.featureGroup(
                {
}
            );
        
    
            var heat_map_2be488b9dcc726ae5d629068ce598ca3 = L.heatLayer(
                [[3.1478, 101.6953, 28.3], [5.4144, 100.3292, 28.8], [1.4556, 103.7611, 27.6], [4.5972, 101.075, 28.4], [5.975, 116.0725, 27.6], [1.5575, 110.3439, 26.3], [2.1944, 102.2486, 28.8], [3.0722, 101.5167, 28.5], [3.0972, 101.6444, 28.0], [2.7222, 101.9417, 27.0], [3.7984839750369748, 103.32504272460939, 26.8], [5.222246513227375, 103.18359375000001, 27.1]],
                {
  "minOpacity": 0.5,
  "maxZoom": 18,
  "radius": 25,
  "blur": 15,
}
            );
        
    
            heat_map_2be488b9dcc726ae5d629068ce598ca3.addTo(feature_group_a72753761d22d4e94c4a671a10d844f0);
        
    
            feature_group_a72753761d22d4e94c4a671a10d844f0.addTo(map_62a44e9dda985167463b40dc5f0cac84);
        
    
            var feature_group_52d2fddfac12e3b2884b977393f6cea8 = L.featureGroup(
                {
}
            );
        
    
            var circle_marker_57a3f3a68e7f1f039ba7da65778bc887 = L.circleMarker(
                [3.1478, 101.6953],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.276000000000002, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_2bc703dfa274ea42a575c070876dde7f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_52401426b693c4c5c714bf55be2b0dc5 = $(`<div id="html_52401426b693c4c5c714bf55be2b0dc5" style="width: 100.0%; height: 100.0%;"><b>Kuala Lumpur</b><br>Cooling Demand: 7.14 unit</div>`)[0];
                popup_2bc703dfa274ea42a575c070876dde7f.setContent(html_52401426b693c4c5c714bf55be2b0dc5);
            
        

        circle_marker_57a3f3a68e7f1f039ba7da65778bc887.bindPopup(popup_2bc703dfa274ea42a575c070876dde7f)
        ;

        
    
    
            var circle_marker_404966957c620072c15e56f9d2cda3ff = L.circleMarker(
                [5.4144, 100.3292],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.168000000000003, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_dbd649e8ae83927a6496375f02593a0a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3103f148d7807e2eabcd0ff38670a199 = $(`<div id="html_3103f148d7807e2eabcd0ff38670a199" style="width: 100.0%; height: 100.0%;"><b>George Town</b><br>Cooling Demand: 7.58 unit</div>`)[0];
                popup_dbd649e8ae83927a6496375f02593a0a.setContent(html_3103f148d7807e2eabcd0ff38670a199);
            
        

        circle_marker_404966957c620072c15e56f9d2cda3ff.bindPopup(popup_dbd649e8ae83927a6496375f02593a0a)
        ;

        
    
    
            var circle_marker_34fa394d292befcf2086ccdcc125d1cd = L.circleMarker(
                [1.4556, 103.7611],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.240000000000004, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_091b645b22e1e9a3aa375b6dbf83e89c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_664da2eded2ad58cdb206f6f63ac5241 = $(`<div id="html_664da2eded2ad58cdb206f6f63ac5241" style="width: 100.0%; height: 100.0%;"><b>Johor Bahru</b><br>Cooling Demand: 6.12 unit</div>`)[0];
                popup_091b645b22e1e9a3aa375b6dbf83e89c.setContent(html_664da2eded2ad58cdb206f6f63ac5241);
            
        

        circle_marker_34fa394d292befcf2086ccdcc125d1cd.bindPopup(popup_091b645b22e1e9a3aa375b6dbf83e89c)
        ;

        
    
    
            var circle_marker_0f2278248b79dc13542b7237be80b4f3 = L.circleMarker(
                [4.5972, 101.075],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.135999999999996, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_e5d563be6efc69bff58b93d3284ed8ba = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ce39ac4c18eb08d10699d1caf6a4ca04 = $(`<div id="html_ce39ac4c18eb08d10699d1caf6a4ca04" style="width: 100.0%; height: 100.0%;"><b>Ipoh</b><br>Cooling Demand: 7.57 unit</div>`)[0];
                popup_e5d563be6efc69bff58b93d3284ed8ba.setContent(html_ce39ac4c18eb08d10699d1caf6a4ca04);
            
        

        circle_marker_0f2278248b79dc13542b7237be80b4f3.bindPopup(popup_e5d563be6efc69bff58b93d3284ed8ba)
        ;

        
    
    
            var circle_marker_c5b6110ee466e16cc5ac4e53e4658f6e = L.circleMarker(
                [5.975, 116.0725],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.384000000000004, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_acd26954fccc5297b50e0d2222b3a3e6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_56e6b3c8a2773c2b719bbd4690c215ab = $(`<div id="html_56e6b3c8a2773c2b719bbd4690c215ab" style="width: 100.0%; height: 100.0%;"><b>Kota Kinabalu</b><br>Cooling Demand: 6.19 unit</div>`)[0];
                popup_acd26954fccc5297b50e0d2222b3a3e6.setContent(html_56e6b3c8a2773c2b719bbd4690c215ab);
            
        

        circle_marker_c5b6110ee466e16cc5ac4e53e4658f6e.bindPopup(popup_acd26954fccc5297b50e0d2222b3a3e6)
        ;

        
    
    
            var circle_marker_69d8520331877a0d54e5a0245ca81882 = L.circleMarker(
                [1.5575, 110.3439],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8.280000000000003, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_5fc5a179b87d8c7815110fe0958ac8b6 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ec06f3738a8e7cfd53e4ff8b66a696d9 = $(`<div id="html_ec06f3738a8e7cfd53e4ff8b66a696d9" style="width: 100.0%; height: 100.0%;"><b>Kuching</b><br>Cooling Demand: 4.14 unit</div>`)[0];
                popup_5fc5a179b87d8c7815110fe0958ac8b6.setContent(html_ec06f3738a8e7cfd53e4ff8b66a696d9);
            
        

        circle_marker_69d8520331877a0d54e5a0245ca81882.bindPopup(popup_5fc5a179b87d8c7815110fe0958ac8b6)
        ;

        
    
    
            var circle_marker_0c1c167f1800c98deccafe9a52f11b9d = L.circleMarker(
                [2.1944, 102.2486],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.552000000000003, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_099d8d65efc9f044402aaa4f768885c7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_505cd65ed508da06e0cde96586feaccb = $(`<div id="html_505cd65ed508da06e0cde96586feaccb" style="width: 100.0%; height: 100.0%;"><b>Malacca City</b><br>Cooling Demand: 7.78 unit</div>`)[0];
                popup_099d8d65efc9f044402aaa4f768885c7.setContent(html_505cd65ed508da06e0cde96586feaccb);
            
        

        circle_marker_0c1c167f1800c98deccafe9a52f11b9d.bindPopup(popup_099d8d65efc9f044402aaa4f768885c7)
        ;

        
    
    
            var circle_marker_991f71e3b71af29f6d3cb977617e082d = L.circleMarker(
                [3.0722, 101.5167],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.76, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_3deee8aef76fd788b9460d882a7ab231 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_be8900eaf69b4fecb51dae60741fc397 = $(`<div id="html_be8900eaf69b4fecb51dae60741fc397" style="width: 100.0%; height: 100.0%;"><b>Shah Alam</b><br>Cooling Demand: 7.38 unit</div>`)[0];
                popup_3deee8aef76fd788b9460d882a7ab231.setContent(html_be8900eaf69b4fecb51dae60741fc397);
            
        

        circle_marker_991f71e3b71af29f6d3cb977617e082d.bindPopup(popup_3deee8aef76fd788b9460d882a7ab231)
        ;

        
    
    
            var circle_marker_e81b95266aa59878316fafec6f25d215 = L.circleMarker(
                [3.0972, 101.6444],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.28, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_39b4f0a2efd560953ffad51cd38de576 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_67142ad785dd7bfc48b9c2a8cf6b14a7 = $(`<div id="html_67142ad785dd7bfc48b9c2a8cf6b14a7" style="width: 100.0%; height: 100.0%;"><b>Petaling Jaya</b><br>Cooling Demand: 6.64 unit</div>`)[0];
                popup_39b4f0a2efd560953ffad51cd38de576.setContent(html_67142ad785dd7bfc48b9c2a8cf6b14a7);
            
        

        circle_marker_e81b95266aa59878316fafec6f25d215.bindPopup(popup_39b4f0a2efd560953ffad51cd38de576)
        ;

        
    
    
            var circle_marker_85dbd99c5524e67ce80357b745ae9814 = L.circleMarker(
                [2.7222, 101.9417],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.2, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_3e0f095801b3daccfed57d6b1ada7ac2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_476e137d17d33048d94403e638dc7b88 = $(`<div id="html_476e137d17d33048d94403e638dc7b88" style="width: 100.0%; height: 100.0%;"><b>Seremban</b><br>Cooling Demand: 5.1 unit</div>`)[0];
                popup_3e0f095801b3daccfed57d6b1ada7ac2.setContent(html_476e137d17d33048d94403e638dc7b88);
            
        

        circle_marker_85dbd99c5524e67ce80357b745ae9814.bindPopup(popup_3e0f095801b3daccfed57d6b1ada7ac2)
        ;

        
    
    
            var circle_marker_60036368f362bc543fc6d2c7ea4d5fdc = L.circleMarker(
                [3.7984839750369748, 103.32504272460939],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 9.968000000000004, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_35c274795ec14c43a8beccd28d0ecc56 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7a7f6890a026cb5ffd33ca95651009de = $(`<div id="html_7a7f6890a026cb5ffd33ca95651009de" style="width: 100.0%; height: 100.0%;"><b>Kuantan</b><br>Cooling Demand: 4.98 unit</div>`)[0];
                popup_35c274795ec14c43a8beccd28d0ecc56.setContent(html_7a7f6890a026cb5ffd33ca95651009de);
            
        

        circle_marker_60036368f362bc543fc6d2c7ea4d5fdc.bindPopup(popup_35c274795ec14c43a8beccd28d0ecc56)
        ;

        
    
    
            var circle_marker_9421dbaed4f5ba25802c181eeb5ea30d = L.circleMarker(
                [5.222246513227375, 103.18359375000001],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.664000000000005, "stroke": true, "weight": 3}
            ).addTo(feature_group_52d2fddfac12e3b2884b977393f6cea8);
        
    
        var popup_fdc9af43c3666c4402922d93e412e0c5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f0e101147b7aed9f4b9a9b914fe005d8 = $(`<div id="html_f0e101147b7aed9f4b9a9b914fe005d8" style="width: 100.0%; height: 100.0%;"><b>Terrengganu</b><br>Cooling Demand: 5.33 unit</div>`)[0];
                popup_fdc9af43c3666c4402922d93e412e0c5.setContent(html_f0e101147b7aed9f4b9a9b914fe005d8);
            
        

        circle_marker_9421dbaed4f5ba25802c181eeb5ea30d.bindPopup(popup_fdc9af43c3666c4402922d93e412e0c5)
        ;

        
    
    
            var feature_group_7231ef2841e99247e8c3df5388e8fb0d = L.featureGroup(
                {
}
            );
        
    
            var circle_marker_b88c1ab9076ee4f2e159673c34d3faa6 = L.circleMarker(
                [3.1478, 101.6953],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_4aa59272df843a347e249ba10d7e5047 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6ea0373bde214fa0ea84186ad4e1e225 = $(`<div id="html_6ea0373bde214fa0ea84186ad4e1e225" style="width: 100.0%; height: 100.0%;"><b>Kuala Lumpur</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_4aa59272df843a347e249ba10d7e5047.setContent(html_6ea0373bde214fa0ea84186ad4e1e225);
            
        

        circle_marker_b88c1ab9076ee4f2e159673c34d3faa6.bindPopup(popup_4aa59272df843a347e249ba10d7e5047)
        ;

        
    
    
            var circle_marker_b6cef7675d99f78b47a98678766c6837 = L.circleMarker(
                [5.4144, 100.3292],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_2f4d528e481084bb8f7e9b1a74e8d976 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4ed377fde07317e5170b9d19b577a5c1 = $(`<div id="html_4ed377fde07317e5170b9d19b577a5c1" style="width: 100.0%; height: 100.0%;"><b>George Town</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_2f4d528e481084bb8f7e9b1a74e8d976.setContent(html_4ed377fde07317e5170b9d19b577a5c1);
            
        

        circle_marker_b6cef7675d99f78b47a98678766c6837.bindPopup(popup_2f4d528e481084bb8f7e9b1a74e8d976)
        ;

        
    
    
            var circle_marker_b5c3d9bd4de1ec9d9a8233a1c38fa9b3 = L.circleMarker(
                [1.4556, 103.7611],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_1bcf617d8e801a37b6749e3e00e12392 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e8cc5656533d23d86ae2a0cc51d1bc86 = $(`<div id="html_e8cc5656533d23d86ae2a0cc51d1bc86" style="width: 100.0%; height: 100.0%;"><b>Johor Bahru</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_1bcf617d8e801a37b6749e3e00e12392.setContent(html_e8cc5656533d23d86ae2a0cc51d1bc86);
            
        

        circle_marker_b5c3d9bd4de1ec9d9a8233a1c38fa9b3.bindPopup(popup_1bcf617d8e801a37b6749e3e00e12392)
        ;

        
    
    
            var circle_marker_9d30b178c752d253f9ecb275f5170dc2 = L.circleMarker(
                [4.5972, 101.075],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_5ad575158695add60755f3b21ec08462 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_423f66f8209d84a8f594098e1d373a55 = $(`<div id="html_423f66f8209d84a8f594098e1d373a55" style="width: 100.0%; height: 100.0%;"><b>Ipoh</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_5ad575158695add60755f3b21ec08462.setContent(html_423f66f8209d84a8f594098e1d373a55);
            
        

        circle_marker_9d30b178c752d253f9ecb275f5170dc2.bindPopup(popup_5ad575158695add60755f3b21ec08462)
        ;

        
    
    
            var circle_marker_4069db121e3d1bc6bd6dd19cb2236b2a = L.circleMarker(
                [5.975, 116.0725],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_9e488390b8931111be9df19b7e4503fe = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_710c7a76fe43bba5829a799b6d696922 = $(`<div id="html_710c7a76fe43bba5829a799b6d696922" style="width: 100.0%; height: 100.0%;"><b>Kota Kinabalu</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_9e488390b8931111be9df19b7e4503fe.setContent(html_710c7a76fe43bba5829a799b6d696922);
            
        

        circle_marker_4069db121e3d1bc6bd6dd19cb2236b2a.bindPopup(popup_9e488390b8931111be9df19b7e4503fe)
        ;

        
    
    
            var circle_marker_83d6a7507eae7588f63b04b33fc52a7d = L.circleMarker(
                [1.5575, 110.3439],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_180b5705703ec74e5e2c970fae793d4e = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_58f79525f2a061063282dd4f10beea84 = $(`<div id="html_58f79525f2a061063282dd4f10beea84" style="width: 100.0%; height: 100.0%;"><b>Kuching</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_180b5705703ec74e5e2c970fae793d4e.setContent(html_58f79525f2a061063282dd4f10beea84);
            
        

        circle_marker_83d6a7507eae7588f63b04b33fc52a7d.bindPopup(popup_180b5705703ec74e5e2c970fae793d4e)
        ;

        
    
    
            var circle_marker_13f94ae31b17e78253ef1b6e49df5a35 = L.circleMarker(
                [2.1944, 102.2486],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_13299e3a0b429820b40f496c17d976e7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_638addd6dd543996a5e861a2e1a578fe = $(`<div id="html_638addd6dd543996a5e861a2e1a578fe" style="width: 100.0%; height: 100.0%;"><b>Malacca City</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_13299e3a0b429820b40f496c17d976e7.setContent(html_638addd6dd543996a5e861a2e1a578fe);
            
        

        circle_marker_13f94ae31b17e78253ef1b6e49df5a35.bindPopup(popup_13299e3a0b429820b40f496c17d976e7)
        ;

        
    
    
            var circle_marker_79834627dc44a7654f75fcefb59fc7d4 = L.circleMarker(
                [3.0722, 101.5167],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_42411de3d9d70f1489200fe73ed2554c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ba6e144b4fa0b991b374d4c14797a13d = $(`<div id="html_ba6e144b4fa0b991b374d4c14797a13d" style="width: 100.0%; height: 100.0%;"><b>Shah Alam</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_42411de3d9d70f1489200fe73ed2554c.setContent(html_ba6e144b4fa0b991b374d4c14797a13d);
            
        

        circle_marker_79834627dc44a7654f75fcefb59fc7d4.bindPopup(popup_42411de3d9d70f1489200fe73ed2554c)
        ;

        
    
    
            var circle_marker_8824d1a85197bb216dd8e4cd373c0490 = L.circleMarker(
                [3.0972, 101.6444],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_f7112247ac416f0d7501e38ee7d53b3a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_8be84e0308ff1fc3bf1706302bf54c95 = $(`<div id="html_8be84e0308ff1fc3bf1706302bf54c95" style="width: 100.0%; height: 100.0%;"><b>Petaling Jaya</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_f7112247ac416f0d7501e38ee7d53b3a.setContent(html_8be84e0308ff1fc3bf1706302bf54c95);
            
        

        circle_marker_8824d1a85197bb216dd8e4cd373c0490.bindPopup(popup_f7112247ac416f0d7501e38ee7d53b3a)
        ;

        
    
    
            var circle_marker_e93e53db9fe654b661c248b5867439db = L.circleMarker(
                [2.7222, 101.9417],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_093b69cb4d85ddefd3682162b9af4278 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_29b3888e29d93d4033975e3797124c84 = $(`<div id="html_29b3888e29d93d4033975e3797124c84" style="width: 100.0%; height: 100.0%;"><b>Seremban</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_093b69cb4d85ddefd3682162b9af4278.setContent(html_29b3888e29d93d4033975e3797124c84);
            
        

        circle_marker_e93e53db9fe654b661c248b5867439db.bindPopup(popup_093b69cb4d85ddefd3682162b9af4278)
        ;

        
    
    
            var circle_marker_1bc1dfbe4f340251bcb6c8446d6a3750 = L.circleMarker(
                [3.7984839750369748, 103.32504272460939],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_10ee040693a6deebb5b6af3ee18bdafd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dc4c8fd2a04b77157d7116cb90fb178c = $(`<div id="html_dc4c8fd2a04b77157d7116cb90fb178c" style="width: 100.0%; height: 100.0%;"><b>Kuantan</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_10ee040693a6deebb5b6af3ee18bdafd.setContent(html_dc4c8fd2a04b77157d7116cb90fb178c);
            
        

        circle_marker_1bc1dfbe4f340251bcb6c8446d6a3750.bindPopup(popup_10ee040693a6deebb5b6af3ee18bdafd)
        ;

        
    
    
            var circle_marker_997357a212ea42a77cac92de67bf51ad = L.circleMarker(
                [5.222246513227375, 103.18359375000001],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_7231ef2841e99247e8c3df5388e8fb0d);
        
    
        var popup_159553120b2a100dd2ed36d11bc7729b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c42634a2e626686dc57f96a4571331a6 = $(`<div id="html_c42634a2e626686dc57f96a4571331a6" style="width: 100.0%; height: 100.0%;"><b>Terrengganu</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_159553120b2a100dd2ed36d11bc7729b.setContent(html_c42634a2e626686dc57f96a4571331a6);
            
        

        circle_marker_997357a212ea42a77cac92de67bf51ad.bindPopup(popup_159553120b2a100dd2ed36d11bc7729b)
        ;

        
    
    
            var layer_control_72a4fe4a572b7fe9a1dbab7c615a963f_layers = {
                base_layers : {
                    "cartodbpositron" : tile_layer_4ca7416ea6639c8ddbce8e1163079555,
                },
                overlays :  {
                    "\ud83d\udd25 Temperature Heatmap" : feature_group_a72753761d22d4e94c4a671a10d844f0,
                    "\u26a1 Energy Demand" : feature_group_52d2fddfac12e3b2884b977393f6cea8,
                    "\ud83c\udf3f Carbon Footprint" : feature_group_7231ef2841e99247e8c3df5388e8fb0d,
                },
            };
            let layer_control_72a4fe4a572b7fe9a1dbab7c615a963f = L.control.layers(
                layer_control_72a4fe4a572b7fe9a1dbab7c615a963f_layers.base_layers,
                layer_control_72a4fe4a572b7fe9a1dbab7c615a963f_layers.overlays,
                {
  "position": "topright",
  "collapsed": false,
  "autoZIndex": true,
}
            ).addTo(map_62a44e9dda985167463b40dc5f0cac84);

        
</script>
</html>