<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5c2063f98dc8eb13395261ac088aeaa3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_5c2063f98dc8eb13395261ac088aeaa3" ></div>
        
</body>
<script>
    
    
            var map_5c2063f98dc8eb13395261ac088aeaa3 = L.map(
                "map_5c2063f98dc8eb13395261ac088aeaa3",
                {
                    center: [4.2105, 101.9758],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 6,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_7166f9ce22cba5ba6feb252a2ef832e7 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png",
                {
  "minZoom": 0,
  "maxZoom": 20,
  "maxNativeZoom": 20,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e",
  "subdomains": "abcd",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_7166f9ce22cba5ba6feb252a2ef832e7.addTo(map_5c2063f98dc8eb13395261ac088aeaa3);
        
    
            var feature_group_2d7608223a25a938019b1b5a28b86674 = L.featureGroup(
                {
}
            );
        
    
            var heat_map_97ff7606244949c701e73b66baeed60b = L.heatLayer(
                [[3.1478, 101.6953, 27.9], [5.4144, 100.3292, 28.8], [1.4556, 103.7611, 27.4], [4.5972, 101.075, 26.8], [5.975, 116.0725, 27.3], [1.5575, 110.3439, 26.0], [2.1944, 102.2486, 28.9], [3.0722, 101.5167, 27.8], [3.0972, 101.6444, 27.6], [2.7222, 101.9417, 27.2], [3.7984839750369748, 103.32504272460939, 27.0], [5.222246513227375, 103.18359375000001, 26.2]],
                {
  "minOpacity": 0.5,
  "maxZoom": 18,
  "radius": 25,
  "blur": 15,
}
            );
        
    
            heat_map_97ff7606244949c701e73b66baeed60b.addTo(feature_group_2d7608223a25a938019b1b5a28b86674);
        
    
            feature_group_2d7608223a25a938019b1b5a28b86674.addTo(map_5c2063f98dc8eb13395261ac088aeaa3);
        
    
            var feature_group_e014a0ca2b711e717303c3bba3e5ff7d = L.featureGroup(
                {
}
            );
        
    
            var circle_marker_4a70da2381b42908afdc70df76e2bfe6 = L.circleMarker(
                [3.1478, 101.6953],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 12.791999999999994, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_cbf0a8d59687a0d0f9442b34906c5e37 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_c9a7f5fe60084843b3f2bb3d7e7fc196 = $(`<div id="html_c9a7f5fe60084843b3f2bb3d7e7fc196" style="width: 100.0%; height: 100.0%;"><b>Kuala Lumpur</b><br>Cooling Demand: 6.4 unit</div>`)[0];
                popup_cbf0a8d59687a0d0f9442b34906c5e37.setContent(html_c9a7f5fe60084843b3f2bb3d7e7fc196);
            
        

        circle_marker_4a70da2381b42908afdc70df76e2bfe6.bindPopup(popup_cbf0a8d59687a0d0f9442b34906c5e37)
        ;

        
    
    
            var circle_marker_a65b66af4ce28922f8a7cf172fc312f9 = L.circleMarker(
                [5.4144, 100.3292],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 14.976000000000003, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_5b18ad5e973524122673ca5ef58732e0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3d628494fa5bd9afb7a94d3939b9814e = $(`<div id="html_3d628494fa5bd9afb7a94d3939b9814e" style="width: 100.0%; height: 100.0%;"><b>George Town</b><br>Cooling Demand: 7.49 unit</div>`)[0];
                popup_5b18ad5e973524122673ca5ef58732e0.setContent(html_3d628494fa5bd9afb7a94d3939b9814e);
            
        

        circle_marker_a65b66af4ce28922f8a7cf172fc312f9.bindPopup(popup_5b18ad5e973524122673ca5ef58732e0)
        ;

        
    
    
            var circle_marker_7cff1a1c74a365df49de7d84d1778121 = L.circleMarker(
                [1.4556, 103.7611],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.831999999999995, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_f0ce4a55427ae92746036a4dcab2375a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_a8dc47fa8791fd62af1037e3bb9d3251 = $(`<div id="html_a8dc47fa8791fd62af1037e3bb9d3251" style="width: 100.0%; height: 100.0%;"><b>Johor Bahru</b><br>Cooling Demand: 5.92 unit</div>`)[0];
                popup_f0ce4a55427ae92746036a4dcab2375a.setContent(html_a8dc47fa8791fd62af1037e3bb9d3251);
            
        

        circle_marker_7cff1a1c74a365df49de7d84d1778121.bindPopup(popup_f0ce4a55427ae92746036a4dcab2375a)
        ;

        
    
    
            var circle_marker_ae5a7dc8df894eefff2399b2c72c23fa = L.circleMarker(
                [4.5972, 101.075],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.528000000000002, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_1e5be8479f9dda8b13ef205415e76ae0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_7e795caeafb1c43738dd82049449b703 = $(`<div id="html_7e795caeafb1c43738dd82049449b703" style="width: 100.0%; height: 100.0%;"><b>Ipoh</b><br>Cooling Demand: 5.26 unit</div>`)[0];
                popup_1e5be8479f9dda8b13ef205415e76ae0.setContent(html_7e795caeafb1c43738dd82049449b703);
            
        

        circle_marker_ae5a7dc8df894eefff2399b2c72c23fa.bindPopup(popup_1e5be8479f9dda8b13ef205415e76ae0)
        ;

        
    
    
            var circle_marker_40088cb1057a1e426335942ba2c31f87 = L.circleMarker(
                [5.975, 116.0725],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.352000000000002, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_39dc5a27f8c19a5314a3a4eb7712a999 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_70876ac8ff2ed97b5b0ffb464a078c81 = $(`<div id="html_70876ac8ff2ed97b5b0ffb464a078c81" style="width: 100.0%; height: 100.0%;"><b>Kota Kinabalu</b><br>Cooling Demand: 5.68 unit</div>`)[0];
                popup_39dc5a27f8c19a5314a3a4eb7712a999.setContent(html_70876ac8ff2ed97b5b0ffb464a078c81);
            
        

        circle_marker_40088cb1057a1e426335942ba2c31f87.bindPopup(popup_39dc5a27f8c19a5314a3a4eb7712a999)
        ;

        
    
    
            var circle_marker_d2d3c06329058b3905395e0ad4ceeb53 = L.circleMarker(
                [1.5575, 110.3439],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 7.2, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_5263ef2eb33dcd3f191d344e4cd22a3c = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d822d062a97b760a003b4687d1bea4e5 = $(`<div id="html_d822d062a97b760a003b4687d1bea4e5" style="width: 100.0%; height: 100.0%;"><b>Kuching</b><br>Cooling Demand: 3.6 unit</div>`)[0];
                popup_5263ef2eb33dcd3f191d344e4cd22a3c.setContent(html_d822d062a97b760a003b4687d1bea4e5);
            
        

        circle_marker_d2d3c06329058b3905395e0ad4ceeb53.bindPopup(popup_5263ef2eb33dcd3f191d344e4cd22a3c)
        ;

        
    
    
            var circle_marker_15b358d543accf54b4ef1a02ff2cf953 = L.circleMarker(
                [2.1944, 102.2486],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 15.483999999999996, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_a18951b6e8e93589603cd703deea0d27 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_9fe47f8996cb57e0afe44ec28a8c33a3 = $(`<div id="html_9fe47f8996cb57e0afe44ec28a8c33a3" style="width: 100.0%; height: 100.0%;"><b>Malacca City</b><br>Cooling Demand: 7.74 unit</div>`)[0];
                popup_a18951b6e8e93589603cd703deea0d27.setContent(html_9fe47f8996cb57e0afe44ec28a8c33a3);
            
        

        circle_marker_15b358d543accf54b4ef1a02ff2cf953.bindPopup(popup_a18951b6e8e93589603cd703deea0d27)
        ;

        
    
    
            var circle_marker_f07cf4089d7e86015d4cc53b237a80ea = L.circleMarker(
                [3.0722, 101.5167],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 13.224000000000002, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_7b2540665218564175dba25d112e18a2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_da5b8cb66d06989ae39824216ab1a020 = $(`<div id="html_da5b8cb66d06989ae39824216ab1a020" style="width: 100.0%; height: 100.0%;"><b>Shah Alam</b><br>Cooling Demand: 6.61 unit</div>`)[0];
                popup_7b2540665218564175dba25d112e18a2.setContent(html_da5b8cb66d06989ae39824216ab1a020);
            
        

        circle_marker_f07cf4089d7e86015d4cc53b237a80ea.bindPopup(popup_7b2540665218564175dba25d112e18a2)
        ;

        
    
    
            var circle_marker_c8b5cefcb9879ae66d4d6b26076a9f9c = L.circleMarker(
                [3.0972, 101.6444],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 11.808000000000003, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_20fb82164f9ebb3a0e451e5e878cd1d5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e04403772631e0933e98515f359f302f = $(`<div id="html_e04403772631e0933e98515f359f302f" style="width: 100.0%; height: 100.0%;"><b>Petaling Jaya</b><br>Cooling Demand: 5.9 unit</div>`)[0];
                popup_20fb82164f9ebb3a0e451e5e878cd1d5.setContent(html_e04403772631e0933e98515f359f302f);
            
        

        circle_marker_c8b5cefcb9879ae66d4d6b26076a9f9c.bindPopup(popup_20fb82164f9ebb3a0e451e5e878cd1d5)
        ;

        
    
    
            var circle_marker_fc01938bfa3d6ee78817a2d989ff75ca = L.circleMarker(
                [2.7222, 101.9417],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.751999999999997, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_8db1a871987d371f7a9ccc0f380c9515 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_07859ceac38202dbb4e03ef1a2391344 = $(`<div id="html_07859ceac38202dbb4e03ef1a2391344" style="width: 100.0%; height: 100.0%;"><b>Seremban</b><br>Cooling Demand: 5.38 unit</div>`)[0];
                popup_8db1a871987d371f7a9ccc0f380c9515.setContent(html_07859ceac38202dbb4e03ef1a2391344);
            
        

        circle_marker_fc01938bfa3d6ee78817a2d989ff75ca.bindPopup(popup_8db1a871987d371f7a9ccc0f380c9515)
        ;

        
    
    
            var circle_marker_07a58c1080d73b20cf82be97f84e431c = L.circleMarker(
                [3.7984839750369748, 103.32504272460939],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10.8, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_3337ee957dfa1146d347e80d90e795b4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ed20fd9d3e102fde011f5980ea015663 = $(`<div id="html_ed20fd9d3e102fde011f5980ea015663" style="width: 100.0%; height: 100.0%;"><b>Kuantan</b><br>Cooling Demand: 5.4 unit</div>`)[0];
                popup_3337ee957dfa1146d347e80d90e795b4.setContent(html_ed20fd9d3e102fde011f5980ea015663);
            
        

        circle_marker_07a58c1080d73b20cf82be97f84e431c.bindPopup(popup_3337ee957dfa1146d347e80d90e795b4)
        ;

        
    
    
            var circle_marker_738fd8cbed83fb23dd56efec682f6e39 = L.circleMarker(
                [5.222246513227375, 103.18359375000001],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "orange", "fillOpacity": 0.6, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8.007999999999997, "stroke": true, "weight": 3}
            ).addTo(feature_group_e014a0ca2b711e717303c3bba3e5ff7d);
        
    
        var popup_c2c617a75f6089a5ed499226472574a3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aa150eebe9ff0b0c59167a7bfee8b5e1 = $(`<div id="html_aa150eebe9ff0b0c59167a7bfee8b5e1" style="width: 100.0%; height: 100.0%;"><b>Terengganu</b><br>Cooling Demand: 4.0 unit</div>`)[0];
                popup_c2c617a75f6089a5ed499226472574a3.setContent(html_aa150eebe9ff0b0c59167a7bfee8b5e1);
            
        

        circle_marker_738fd8cbed83fb23dd56efec682f6e39.bindPopup(popup_c2c617a75f6089a5ed499226472574a3)
        ;

        
    
    
            var feature_group_925e54dc89dd50df5af4076b3eacd451 = L.featureGroup(
                {
}
            );
        
    
            var circle_marker_556811adbb8f549f447748bf8c0b8fad = L.circleMarker(
                [3.1478, 101.6953],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_1c3c62eda026459d2503a21abc0d3e0d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_0f31274f1291eed4ac0733d3861ec3fc = $(`<div id="html_0f31274f1291eed4ac0733d3861ec3fc" style="width: 100.0%; height: 100.0%;"><b>Kuala Lumpur</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_1c3c62eda026459d2503a21abc0d3e0d.setContent(html_0f31274f1291eed4ac0733d3861ec3fc);
            
        

        circle_marker_556811adbb8f549f447748bf8c0b8fad.bindPopup(popup_1c3c62eda026459d2503a21abc0d3e0d)
        ;

        
    
    
            var circle_marker_c0aafaea8176d4ab85ada34d9f7bda69 = L.circleMarker(
                [5.4144, 100.3292],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_dba144c92123007a76bcad8d6de09920 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4c85ff62d178608c5af8719c599988d7 = $(`<div id="html_4c85ff62d178608c5af8719c599988d7" style="width: 100.0%; height: 100.0%;"><b>George Town</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_dba144c92123007a76bcad8d6de09920.setContent(html_4c85ff62d178608c5af8719c599988d7);
            
        

        circle_marker_c0aafaea8176d4ab85ada34d9f7bda69.bindPopup(popup_dba144c92123007a76bcad8d6de09920)
        ;

        
    
    
            var circle_marker_b7f8a085849efac24fdba8d2cba91cd5 = L.circleMarker(
                [1.4556, 103.7611],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_cd566bbf607b17b56e632b1a1ee59baf = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aba47f57dc416d5cfe1b9f50f6609688 = $(`<div id="html_aba47f57dc416d5cfe1b9f50f6609688" style="width: 100.0%; height: 100.0%;"><b>Johor Bahru</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_cd566bbf607b17b56e632b1a1ee59baf.setContent(html_aba47f57dc416d5cfe1b9f50f6609688);
            
        

        circle_marker_b7f8a085849efac24fdba8d2cba91cd5.bindPopup(popup_cd566bbf607b17b56e632b1a1ee59baf)
        ;

        
    
    
            var circle_marker_4608087651e0b5bbcc3a1ec5f12981ea = L.circleMarker(
                [4.5972, 101.075],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_de2030c36cfee5de21d5b842d99cc4da = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_25c370635dbeb536ac89a334dacc7c3e = $(`<div id="html_25c370635dbeb536ac89a334dacc7c3e" style="width: 100.0%; height: 100.0%;"><b>Ipoh</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_de2030c36cfee5de21d5b842d99cc4da.setContent(html_25c370635dbeb536ac89a334dacc7c3e);
            
        

        circle_marker_4608087651e0b5bbcc3a1ec5f12981ea.bindPopup(popup_de2030c36cfee5de21d5b842d99cc4da)
        ;

        
    
    
            var circle_marker_99d10c8e18b3e3c071509dbdbd662104 = L.circleMarker(
                [5.975, 116.0725],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_38f55be8f93fbbc58e2606cec72f6432 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_08f6c43035074867e4ea4eccfbbd4740 = $(`<div id="html_08f6c43035074867e4ea4eccfbbd4740" style="width: 100.0%; height: 100.0%;"><b>Kota Kinabalu</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_38f55be8f93fbbc58e2606cec72f6432.setContent(html_08f6c43035074867e4ea4eccfbbd4740);
            
        

        circle_marker_99d10c8e18b3e3c071509dbdbd662104.bindPopup(popup_38f55be8f93fbbc58e2606cec72f6432)
        ;

        
    
    
            var circle_marker_da86fc162bbe120ac89a69f35f279371 = L.circleMarker(
                [1.5575, 110.3439],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_574cf436fdfa950f05bed24d35ebefd4 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_ac88266913a3e62a789757fdae284097 = $(`<div id="html_ac88266913a3e62a789757fdae284097" style="width: 100.0%; height: 100.0%;"><b>Kuching</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_574cf436fdfa950f05bed24d35ebefd4.setContent(html_ac88266913a3e62a789757fdae284097);
            
        

        circle_marker_da86fc162bbe120ac89a69f35f279371.bindPopup(popup_574cf436fdfa950f05bed24d35ebefd4)
        ;

        
    
    
            var circle_marker_aa0fdb5e89c05014226a13148d060475 = L.circleMarker(
                [2.1944, 102.2486],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_82c92aefbcad72e2fb90442e3187117f = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_61a4998c4c6eb1ebdc36f613dd8af0fa = $(`<div id="html_61a4998c4c6eb1ebdc36f613dd8af0fa" style="width: 100.0%; height: 100.0%;"><b>Malacca City</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_82c92aefbcad72e2fb90442e3187117f.setContent(html_61a4998c4c6eb1ebdc36f613dd8af0fa);
            
        

        circle_marker_aa0fdb5e89c05014226a13148d060475.bindPopup(popup_82c92aefbcad72e2fb90442e3187117f)
        ;

        
    
    
            var circle_marker_63acc452edc438152d7bd593a508fefd = L.circleMarker(
                [3.0722, 101.5167],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_1d04b5df1293a954f29af61f0974cbfb = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_26951b350a9f450f5c669faafced53af = $(`<div id="html_26951b350a9f450f5c669faafced53af" style="width: 100.0%; height: 100.0%;"><b>Shah Alam</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_1d04b5df1293a954f29af61f0974cbfb.setContent(html_26951b350a9f450f5c669faafced53af);
            
        

        circle_marker_63acc452edc438152d7bd593a508fefd.bindPopup(popup_1d04b5df1293a954f29af61f0974cbfb)
        ;

        
    
    
            var circle_marker_9cfc818e92c3489800d1e6e173f25537 = L.circleMarker(
                [3.0972, 101.6444],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_e830fb55e93f0a4fab318e3b64ca087b = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2a165eb40f672f765994129a00e42154 = $(`<div id="html_2a165eb40f672f765994129a00e42154" style="width: 100.0%; height: 100.0%;"><b>Petaling Jaya</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_e830fb55e93f0a4fab318e3b64ca087b.setContent(html_2a165eb40f672f765994129a00e42154);
            
        

        circle_marker_9cfc818e92c3489800d1e6e173f25537.bindPopup(popup_e830fb55e93f0a4fab318e3b64ca087b)
        ;

        
    
    
            var circle_marker_cf83772e84d1f937e619953879a4a10f = L.circleMarker(
                [2.7222, 101.9417],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_abb6f1b96f05f50d9b32163f5ccf26a0 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_79212314c58d164d6112bba87155c264 = $(`<div id="html_79212314c58d164d6112bba87155c264" style="width: 100.0%; height: 100.0%;"><b>Seremban</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_abb6f1b96f05f50d9b32163f5ccf26a0.setContent(html_79212314c58d164d6112bba87155c264);
            
        

        circle_marker_cf83772e84d1f937e619953879a4a10f.bindPopup(popup_abb6f1b96f05f50d9b32163f5ccf26a0)
        ;

        
    
    
            var circle_marker_8c25a231d930a00337375d3affd3daaa = L.circleMarker(
                [3.7984839750369748, 103.32504272460939],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_2d83356bde900f6a6627eb9b4a59b1e5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_2f3e035568f54aa3e1b000a5a83289a1 = $(`<div id="html_2f3e035568f54aa3e1b000a5a83289a1" style="width: 100.0%; height: 100.0%;"><b>Kuantan</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_2d83356bde900f6a6627eb9b4a59b1e5.setContent(html_2f3e035568f54aa3e1b000a5a83289a1);
            
        

        circle_marker_8c25a231d930a00337375d3affd3daaa.bindPopup(popup_2d83356bde900f6a6627eb9b4a59b1e5)
        ;

        
    
    
            var circle_marker_7e6f9b05f71190473e17627319329e99 = L.circleMarker(
                [5.222246513227375, 103.18359375000001],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_925e54dc89dd50df5af4076b3eacd451);
        
    
        var popup_6b310c686e6f46bafd6d986c0393da23 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_e3672dd824153520a8f838e39ca8476d = $(`<div id="html_e3672dd824153520a8f838e39ca8476d" style="width: 100.0%; height: 100.0%;"><b>Terengganu</b><br>AQI: 0<br>Carbon Est: 0.0</div>`)[0];
                popup_6b310c686e6f46bafd6d986c0393da23.setContent(html_e3672dd824153520a8f838e39ca8476d);
            
        

        circle_marker_7e6f9b05f71190473e17627319329e99.bindPopup(popup_6b310c686e6f46bafd6d986c0393da23)
        ;

        
    
    
            var layer_control_5b660e14279fd9b95d1a6ed04443a931_layers = {
                base_layers : {
                    "cartodbpositron" : tile_layer_7166f9ce22cba5ba6feb252a2ef832e7,
                },
                overlays :  {
                    "\ud83d\udd25 Temperature Heatmap" : feature_group_2d7608223a25a938019b1b5a28b86674,
                    "\u26a1 Energy Demand" : feature_group_e014a0ca2b711e717303c3bba3e5ff7d,
                    "\ud83c\udf3f Carbon Footprint" : feature_group_925e54dc89dd50df5af4076b3eacd451,
                },
            };
            let layer_control_5b660e14279fd9b95d1a6ed04443a931 = L.control.layers(
                layer_control_5b660e14279fd9b95d1a6ed04443a931_layers.base_layers,
                layer_control_5b660e14279fd9b95d1a6ed04443a931_layers.overlays,
                {
  "position": "topright",
  "collapsed": false,
  "autoZIndex": true,
}
            ).addTo(map_5c2063f98dc8eb13395261ac088aeaa3);

        
</script>
</html>